{% extends 'base.html.twig' %}

{% block body %}
  <div class="uk-container">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Connexion</span></h1>
    <hr class="uk-divider-icon"><br>
    {% if error %}
      <div class="uk-margin-auto uk-margin-auto-vertical">
        <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          {{ error.messageKey }}
        </div>
      </div>
    {% endif %}
    {% block notification %}
      {% for message in app.flashes('success') %}
        <div class="uk-container uk-padding-small">
          <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
          </div>
        </div>
      {% endfor %}
      {% for message in app.flashes('warning') %}
        <div class="uk-container uk-padding-small">
          <div class="uk-alert-warning" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
          </div>
        </div>
      {% endfor %}
      {% for message in app.flashes('error') %}
        <div class="uk-container uk-padding-small">
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message }}</p>
          </div>
        </div>
      {% endfor %}
    {% endblock %}
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-card uk-card-default uk-card-body">
      <div class="uk-text-center">
        <form action="{{ path('login') }}" method="post">
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              <input type="text" id="username" name="_username" value="{{ last_username }}" class="uk-input"/>
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
              <input type="password" id="password" name="_password" class="uk-input" />
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
          <button type="submit" class="uk-button uk-button-default">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Connexion
          </button>
        </form>
      </div>
    </div>
    <br>
    <p class="uk-heading-line uk-heading uk-text-center"><span>OU</span></p
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-2@s uk-margin-xlarge-top">
      <div class="uk-text-center">
        <a href="{{ path('registration') }}" class="uk-button uk-button-secondary">Créer votre compte</a>
      </div>
    </div>
  </div>
{% endblock %}
