{% extends 'base.html.twig' %}

{% block body %}
  <div class="uk-container">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Inscription</span></h1>
    {% if not form.vars.valid %}
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Votre formulaire n'est pas valide</p>
      </div>
    {% endif %}
    <hr class="uk-divider-icon"><br>
    <div class="">
      <form action="{{ path('registration') }}" method="post">
        <fieldset class="uk-fieldset">
          <div class="uk-grid">
            <div class="uk-width-1-2@s">
              {{ form_row(form.nom, { 'attr': {'class': 'uk-input'} }) }}
            </div>
            <div class="uk-width-1-2@s">
              {{ form_row(form.pnom, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div><br>
          <div class="uk-grid">
            <div class="uk-width-1-3@s">
              {{ form_row(form.sexe, { 'attr': {'class': 'uk-select'} }) }}
            </div>
            <div class="uk-width-1-3@s">
              {{ form_row(form.residence, { 'attr': {'class': 'uk-input'} }) }}
            </div>
            <div class="uk-width-1-3@s">
              {{ form_row(form.date_naissance, { 'attr': {'class': ''} }) }}
            </div>
          </div><br>
          <div class="uk-grid">
            <div class="uk-width-1-4@s">
              {{ form_row(form.email, { 'attr': {'class': 'uk-input'} }) }}
            </div>
            <div class="uk-width-1-4@s">
              {{ form_row(form.username, { 'attr': {'class': 'uk-input'} }) }}
            </div>
            <div class="uk-width-1-4@s">
              {{ form_row(form.password.first, { 'attr': {'class': 'uk-input'} }) }}
            </div>
            <div class="uk-width-1-4@s">
              {{ form_row(form.password.second, { 'attr': {'class': 'uk-input'} }) }}
            </div>
          </div><br>
        </fieldset><br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('registration') }}"/>{##}
        <button type="submit" class="uk-button uk-button-danger">
          <i class="fa fa-sign-in" aria-hidden="true"></i> S'inscrire
        </button>
      </form>
    </div>
  </div>
{% endblock %}
