{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig'%}


{% block stylesheets %}
{% endblock %}



{% block title 'Biographie de ' ~ hds.pnom ~ ' ' ~ hds.nom ~ ' | Orientation Authentique' %}


{% block body %}
<div class="uk-container uk-padding-small">
  <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Biographie d'HDS</span></h1>
  <hr class="uk-divider-icon">
  <h2>Biographie de <strong>{{ hds.pnom }} {{ hds.nom }}</strong><br> </h2>
  <h3 class="uk-heading-line"><span>Fiche d'identification</span></h3>
  <div class="uk-grid">
    <div class="uk-width-1-4@s">
      <strong>Nom</strong><br>
      {{ hds.nom }}
    </div>
    <div class="uk-width-1-4@s">
      <strong>Prénom</strong><br>
      {{ hds.pnom }}
    </div>
    <div class="uk-width-1-4@s">
      <strong>Numéro de téléphone</strong><br>
      {{ hds.numero }}
    </div>
  </div><br>
  <div class="uk-grid">
    <div class="uk-width-1-4@s">
      <strong>Date de naissance</strong><br>
      {{ hds.dateNaissance|date('d-m-Y') }}
    </div>
    <div class="uk-width-1-4@s">
      <strong>Spécialité</strong><br>
      {{ hds.specialite }}
    </div>
    <div class="uk-width-1-4@s">
      <strong>Niveau d'étude</strong><br>
      {{ hds.niveauEtude }}
    </div>
    <div class="uk-width-1-4@s">
      <strong>Commune</strong><br>
      {{ hds.commune.nom }}
    </div>
  </div><br>
  <h3 class="uk-heading-line"><span>Biographie</span></h3>
  <div class="">
    {{ hds.biographie|raw }}
  </div>
  <h2>Les cours dispensés par <strong>{{ hds.pnom }} {{ hds.nom }}</strong> </h2>
  <table class="uk-table uk-table-small uk-table-divider">
    <thead>
      <tr>
        <th>N°</th>
        <th>Discipline</th>
        <th>Mosquées</th>
        <th>Jour/Heure</th>
      </tr>
    </thead>
    <tbody>
      {% set i = 0 %}
      {% for cours in courses %}
        {% set i = i + 1 %}
        <tr>
          <td>{{ i }}</td>
          <td>{{ cours.discipline.nom }}</td>
          <td>{{ cours.mosquee.nom }}</td>
          <td>{{ cours.getJourCoursType }}, {{ cours.getHeureCoursType }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}



{% block javascripts %}
{% endblock %}
