{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Recherche d\'hommes de science | Orientation Authentique' %}



{% block notification %}
{% for message in app.flashes('success') %}
<div class="uk-container uk-padding-small">
  <div class="uk-alert-success" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
  </div>
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div class="uk-container uk-padding-small">
  <div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>{{ message }}</p>
  </div>
</div>
{% endfor %}
{% endblock %}



{% block body %}
  <div class="uk-container uk-padding-small">
    <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Recherche d'HDS</span></h1>
    <hr class="uk-divider-icon"><br>
  </div>
  <div class="uk-container">
    {{ form_start(form) }}
    <div class="uk-grid">
      <div class="uk-width-1-4@s">
        {{ form_row(form.nom, { 'attr': {'class': 'uk-input'} }) }}
      </div>
      <div class="uk-width-1-4@s">
        {{ form_row(form.commune, { 'attr': {'class': 'uk-select'} }) }}
      </div>
      <div class="uk-width-1-4@s">
        {{ form_row(form.region, { 'attr': {'class': 'uk-select'} }) }}
      </div>
      <div class="uk-width-1-4@s">
        <button class="uk-button uk-button-primary" type="submit" name="button">Rechercher</button>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
  <br>
  <div class="uk-container uk-margin-small">
    <h2>Hommes de science enregistrés</h2>
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nom</th>
          <th>Spécialité</th>
          <th>Commune</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% set i = 0 %}
        {% for hds in hommes %}
          {% set i = i + 1 %}
          <tr>
            <td>{{ i }}</td>
            <td>{{ hds.nom }} {{ hds.pnom }}</td>
            <td>{{ hds.specialite }}</td>
            <td>{{ hds.commune.nom }}</td>
            <td>
              <a href="{{ path('orientation.hds.biographie', {id: hds.id}) }}" uk-icon="icon: file-text" uk-tooltip="title: Lire la biographie; pos: top"></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="uk-pagination uk-flex-center">
      {{ knp_pagination_render(hommes) }}
    </div>
  </div>
{% endblock %}


{% block javascripts %}
{% endblock %}
