<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}Panel Admin - Orientation Authentique{% endblock %}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css" />
      {% block stylesheets %}
      {% endblock %}
      <style>
        .uk-navbar-container.uk-light:not(.uk-navbar-transparent):not(.uk-navbar-primary) {
          background: #FF6F00;
        }

        #offcanvas-overlay .uk-offcanvas-bar {
          box-shadow: 2px 0 5px 0 #FF6F00;
          background: #FF6F00;
        }
        #offcanvas-overlay li:nth-child(1),
        #offcanvas-overlay li:nth-child(2),
        #offcanvas-overlay li:nth-child(3) {
          border-left: unset;
        }
        #offcanvas-overlay li {
          padding-left: 5px;
          border-left: 2px solid transparent;
        }
        #offcanvas-overlay li.uk-active {
          padding-left: 5px;
          border-left: 2px solid #545454;
        }

        .uk-sticky-fixed {
          box-shadow: 0 1px 5px 0 #0e0e0e;
        }
      </style>
      {% block js %}
      {% endblock %}
    </head>
    <body>
      <!-- <div class="uk-grid-width-small-1-1 uk-grid-width-medium-1-4" data-uk-grid="{gutter: 20}">

      </div> -->

      <header>
        {% block main_menu %}
          <div class="uk-offcanvas-content">
            <!-- menu position. delete .uk-light to change black navbar to white (also you should change logo to dark one)-->
            <nav class="uk-navbar-container uk-light" uk-navbar="mode: click" uk-sticky="animation: uk-animation-slide-top; show-on-up: true">
              <!-- logo or title-->
              <div class="uk-navbar-left nav-overlay"><a class="uk-navbar-item uk-logo" href="#">
                  <!--h3 Site Name--><img src="http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-White-Large.png" alt="logo" width="64"></a>
              </div>
              <!-- end logo or title-->
              <!-- menu-->
              <div class="uk-navbar-right nav-overlay">
                <div class="uk-navbar-flip">
                  <ul class="uk-navbar-nav uk-visible@s">
                    <li class="uk-active"><a href="{{ path('admin') }}">Accueil</a></li>
                    <li><a href="{{ path('localite') }}">Localités</a></li>
                    <li><a href="{{ path('mosquees') }}">Mosquées</a></li>
                    <li><a href="{{ path('courses') }}">Cours</a></li>
                    <li><a href="{{ path('ecoles') }}">Ecoles</a></li>
                    <li><a href="{{ path('hds') }}">HDS</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                      <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #compte"></a></li>
                      <!-- Dropdown Structure -->
                      <div id="compte" uk-offcanvas="mode: slide; overlay: true">
                        <div class="uk-offcanvas-bar">
                          <button class="uk-offcanvas-close" type="button" uk-close></button>
                          <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                            <li><a href="{{ path('homepage') }}"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Accès à l'appli</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href=""><span class="uk-margin-small-right" uk-icon="icon: user"></span>Mon compte</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="{{ path('logout') }}"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Déconnexion</a></li>
                          </ul>
                        </div>
                      </div>
                    {% endif %}
                    <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
                  </ul>
                  <ul class="uk-navbar-nav uk-hidden@s">
                    <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
                    <li>
                      <!-- <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #mobile-navbar"></a> -->
                      <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-overlay"></a>
                  </li>
                  </ul>
                </div>
              </div>
              <!-- endmenu-->
              <!-- Overlay Search-->
              <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                <div class="uk-navbar-item uk-width-expand">
                  <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                  </form>
                </div><a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
              </div>
              <!-- end overlay search-->
            </nav>
            <!-- end menu position-->
            <!-- off-canvas menu-->
            <div id="mobile-navbar" uk-offcanvas="mode: slide; flip: false">

            </div>
            <!-- end off-canvas menu-->
          </div>
          <div id="offcanvas-overlay" uk-offcanvas="mode: slide; overlay: true">
            <div class="uk-offcanvas-bar">
              <!-- off-canvas close button-->
              <button class="uk-offcanvas-close" type="button" uk-close></button>
              <!-- off-canvas close button-->
              <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <!-- logo or title-->
                <li class="uk-text-center" style="padding: 0 0 25px 0;"><a href="#">
                    <!--h3 Site Name--><img src="http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-White-Large.png" alt="logo" width="64"></a></li>
                <!-- end logo or title-->
                <!-- menu-->
                <li>
                  <hr>
                </li>
                <li class="uk-text-center">
                  <h3>Menu</h3>
                </li>
                <ul uk-accordion="collapsible: true">
                    <li><a class="" href="{{ path('admin') }}"><h4>Accueil</h4></a></li>
                </ul>
                <ul uk-accordion="collapsible: true">
                  <li>
                    <a class="uk-accordion-title" href="{{ path('localite') }}">Localités</a>
                    <div class="uk-accordion-content">
                      <ul class="uk-list uk-list-divider">
                        <li><a href="{{ path('regions') }}">Régions</a></li>
                        <li><a href="{{ path('villes') }}">Villes</a></li>
                        <li><a href="{{ path('communes') }}">Communes</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ul uk-accordion="collapsible: true" class="uk-margin">
                  <li>
                    <a class="uk-accordion-title" href="{{ path('courses') }}">Cours</a>
                    <div class="uk-accordion-content">
                      <ul class="uk-list uk-list-divider">
                        <li><a href="{{ path('disciplines') }}">Disciplines</a></li>
                        <li><a href="{{ path('villes') }}">Livres</a></li>
                        <li><a href="{{ path('courses') }}">Cours</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ul uk-accordion="collapsible: true" class="uk-margin">
                  <li><a class="" href="{{ path('mosquees') }}"><h4>Mosquées</h4></a></li>
                  <li><a class="" href="{{ path('ecoles') }}"><h4>Ecoles</h4></a></li>
                </ul>
                <ul uk-accordion="collapsible: true" class="uk-margin">
                  <li><a class="" href="{{ path('hds') }}"><h4>Hommes de sciences</h4></a></li>
                  {% if is_granted('ROLE_ADMIN') %}
                    <ul uk-accordion="collapsible: true">
                      <li>
                          <a href="orientation" class="uk-accordion-title">{{ app.user.username }}</a>
                          <div class="uk-accordion-content">
                            <ul class="uk-list uk-list-divider">
                              <li><a href="{{ path('homepage') }}">Accès à l'appli</a></li>
                              <li><a href="">Mon compte</a></li>
                              <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>
                          </div>
                      </li>
                    </ul>
                  {% endif %}
                </ul>
              </ul>
            </div>
          </div>
        {% endblock %}
      </header>

      {% block notification %}{% endblock %}

      <div class="uk-container uk-padding-small">
        <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>{% block big_title %}Panel Admin{% endblock %}</span></h1>
        <hr class="uk-divider-icon"><br>
        <div class="uk-grid-small uk-grid-divider uk-child-width-expand@s" uk-grid>
          <div class="uk-width-1-4@m uk-visible@s">
            {% block contextual_menu %}
            {% endblock %}
          </div>
          <div class="uk-width-expand@m uk-padding-small uk-padding-remove-top uk-padding-remove-right">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        {% block body %}
        {% endblock %}
      </div>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
      {% block javascripts %}
      {% endblock %}
    </body>
</html>
                                                                                                                                                                                                                                                                                                 
