<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Orientation Authentique{% endblock %}</title>
      <link rel="stylesheet" href="{{ asset('/css/uikit.min.css') }}">
      {% block stylesheets %}
      {% endblock %}
      <style media="screen">
        .uk-navbar-container.uk-light:not(.uk-navbar-transparent):not(.uk-navbar-primary) {
          background: #222;
        }

        #mobile-navbar .uk-offcanvas-bar {
          box-shadow: 2px 0 5px 0 #0e0e0e;
        }
        #mobile-navbar li:nth-child(1),
        #mobile-navbar li:nth-child(2),
        #mobile-navbar li:nth-child(3) {
          border-left: unset;
        }
        #mobile-navbar li {
          padding-left: 5px;
          border-left: 2px solid transparent;
        }
        #mobile-navbar li.uk-active {
          padding-left: 5px;
          border-left: 2px solid #545454;
        }

        .uk-sticky-fixed {
          box-shadow: 0 1px 5px 0 #0e0e0e;
        }
      </style>
    </head>
    <body>
      <header>
        {% block main_menu %}
          <div class="uk-offcanvas-content">
          <!-- menu position. delete .uk-light to change black navbar to white (also you should change logo to dark one)-->
          <nav class="uk-navbar-container uk-light" uk-navbar="mode: click" uk-sticky="animation: uk-animation-slide-top; show-on-up: true">
            <!-- logo or title-->
            <div class="uk-navbar-left nav-overlay"><a class="uk-navbar-item uk-logo" href="#">
                <!--h3 Site Name--><img src="http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-White-Large.png" alt="logo" width="64"></a>
            </div>
            <!-- end logo or title-->
            <!-- menu-->
            <div class="uk-navbar-right nav-overlay">
              <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav uk-visible@s">
                  <li class="uk-active"><a href="{{ path('homepage') }}">Accueil</a></li>
                  <li><a href="{{ path('homepage') }}">A propos</a></li>
                  <li><a href="{{ path('homepage') }}">Orientations</a></li>
                  <li><a href="{{ path('homepage') }}">Contribution</a></li>
                  <li><a href="{{ path('homepage') }}">Contact</a></li>
                  <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
                </ul>
                <ul class="uk-navbar-nav uk-hidden@s">
                  <li><a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a></li>
                  <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #mobile-navbar"></a></li>
                </ul>
              </div>
            </div>
            <!-- endmenu-->
            <!-- Overlay Search-->
            <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
              <div class="uk-navbar-item uk-width-expand">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                  <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
              </div><a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            </div>
            <!-- end overlay search-->
          </nav>
          <!-- end menu position-->
          <!-- off-canvas menu-->
          <div id="mobile-navbar" uk-offcanvas="mode: slide; flip: false">
            <div class="uk-offcanvas-bar">
              <!-- off-canvas close button-->
              <button class="uk-offcanvas-close" type="button" uk-close></button>
              <!-- off-canvas close button-->
              <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                <!-- logo or title-->
                <li class="uk-text-center" style="padding: 0 0 25px 0;"><a href="#">
                    <!--h3 Site Name--><img src="http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-White-Large.png" alt="logo" width="64"></a></li>
                <!-- end logo or title-->
                <!-- menu-->
                <li>
                  <hr>
                </li>
                <li class="uk-text-center">
                  <h3>Menu</h3>
                </li>
                <ul uk-accordion="collapsible: true">
                    <li><a class="" href="{{ path('homepage') }}"><h4>Accueil</h4></a></li>
                    <li><a class="" href="{{ path('homepage') }}"><h4>A Propos</h4></a></li>
                </ul>
                <ul uk-accordion="collapsible: true">
                    <li>
                        <a class="uk-accordion-title">Orientations</a>
                        <div class="uk-accordion-content">
                          <ul class="uk-list uk-list-divider">
                            <li><a href="{{ path('homepage') }}">Cours</a></li>
                            <li><a href="{{ path('homepage') }}">Mosquées</a></li>
                            <li><a href="{{ path('homepage') }}">Ecoles</a></li>
                            <li><a href="{{ path('homepage') }}">Hommes de science</a></li>
                          </ul>
                        </div>
                    </li>
                </ul>
                <ul uk-accordion="collapsible: true" class="uk-margin">
                  <li><a class="" href="{{ path('homepage') }}"><h4>Contribution</h4></a></li>
                  <li><a class="" href="{{ path('homepage') }}"><h4>Contact</h4></a></li>
                </ul>
              </ul>
            </div>
          </div>
          <!-- end off-canvas menu-->
        </div>
        {% endblock %}
      </header>

      <div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="uk-width-1-4@m uk-visible@s">
          {% block contextual_menu %}
          {% endblock %}
        </div>
        <div class="uk-width-expand@m">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      {% block body %}
        <!-- <div uk-parallax="bgy: -200">
          <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
          data-src="/img/fahrul-azmi.jpg"
          data-srcset="/img/fahrul-azmi.jpg 650w,
          /img/fahrul-azmi.jpg 1300w"
          data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
            <h1>Orientation Authentique</h1>
          </div>
        </div> -->
        <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('/img/fahrul-azmi.jpg');">
          <h1 class="uk-width-1-2@m uk-text-right uk-heading-primary uk-margin-auto uk-margin-auto-vertical">Orientation Authentique</h1>
        </div>
        <div class="uk-container uk-padding-small">
          <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Suivez une bonne orientation</span></h1>
          <p class="uk-text-center">Un concentré de contenu permettant de mieux s'orienter partout en Côte d'Ivoire</p>
          <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
              <div>
                  <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                      <h2 class="uk-card-title">Cours</h2>
                      <p>Suivez les cours des hommes de science d'ici.</p>
                  </div>
              </div>
              <div>
                  <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                      <h2 class="uk-card-title">Mosquées</h2>
                      <p>Retrouvez très rapidement une mosquée dont les pratiques sont conformes à ceux des pieux prédécesseurs.</p>
                  </div>
              </div>
              <div>
                  <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                      <h2 class="uk-card-title">Ecoles</h2>
                      <p>Si vous cherchez une école pour suivre une formation islamique et authentique</p>
                  </div>
              </div>
              <div>
                  <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-text-center">
                      <h2 class="uk-card-title">Hommes de sciences en Côte d'Ivoire</h2>
                      <p>Qui sont ces hommes qui sont les models à suivre ?</p>
                  </div>
              </div>
          </div>
          <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Dernières publications</span></h1>
          <p class="uk-text-center">Les dernières informations partagées par le projet</p>
          <h1 class="uk-heading-line uk-heading-primary uk-text-center"><span>Orientation authentique ?</span></h1>
          <p class="uk-text-center">A travers ces quelques lignes, apprenez d'avantage sur le projet Orientation Authentique</p>
        </div>
      {% endblock %}
      <!-- <div class="uk-background-primary uk-light uk-padding uk-panel">
          <div class="uk-container uk-padding-small">
            <div class="" uk-grid>
                <div class="uk-width-1-3">
                  <span>Menu</span>
                </div>
                <div class="uk-width-1-3">
                  <span>Contact</span>
                </div>
                <div class="uk-width-1-3">
                  <span>Liens utiles</span>
                </div>
            </div>
          </div>
      </div> -->
      <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
      <script src="{{ asset('js/uikit.min.js') }}"></script>
      <script src="{{ asset('js/uikit-icons.min.js') }}"></script>
      {% block javascripts %}
      {% endblock %}
    </body>
</html>
                                                                                                                                                                                                                                                                                                 
