{# templates/lucky/number.html.twig #}
{% extends 'admin-base.html.twig'%}


{% block stylesheets %}
{% endblock %}


{% block title 'Administration des régions | Orientation Authentique' %}

{% block big_title 'Gestion des localités' %}



{% block contextual_menu %}
  <div class="uk-background-primary uk-light uk-padding-small uk-panel">
    <p class="uk-h4">Menu</p>
  </div>
  <ul uk-accordion="collapsible: true">
    <li>
      <a class="uk-accordion-title" href="{{ path('localite') }}">Régions</a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          <li><a href="{{ path('regions') }}">Liste</a></li>
          <li><a href="{{ path('region.add') }}">Ajouter</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="{{ path('localite') }}">Villes</a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          <li><a href="{{ path('villes') }}">Liste</a></li>
          <li><a href="{{ path('ville.add') }}">Ajouter</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="{{ path('localite') }}">Communes</a>
      <div class="uk-accordion-content">
        <ul class="uk-list uk-list-divider">
          <li><a href="{{ path('communes') }}">Liste</a></li>
        </ul>
      </div>
    </li>
  </ul>
{% endblock %}


{% block notification %}
  {% for message in app.flashes('success') %}
    <div class="uk-container uk-padding-small">
      <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{ message }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}


{% block content %}
{% endblock %}



{% block body %}
{% endblock %}


{% block javascripts %}
{% endblock %}
